body {
  font-family: "open-sans", sans-serif;
  font-weight: normal;
  color: rgb(236 239 244);
  background-color: rgb(12 12 12);
}

header {
  display: flex;
  position: fixed;
  margin: auto;
  padding: 6px 6px 6px 6px;
  width: 100%;
  height: 40px;
  color: rgb(16 16 16);
}

.branding {
  width: 32px;
  height: 26px;
}

brand-logo {
  width: 32px;
  max-width: 100%;
}

navlink {
  width: 40px;
  height: 32px;
  background-color: rgb(226 228 234);
  font-color: rgb(230 230 230);
  border-radius: 6px;
}
