body {
  font-family: "open-sans", sans-serif;
  background: rgb(46 52 64);
  display: flex;
  align-items: center;
}

.Banner {
  background-color: rgb(236 239 244);
  width: 820px;
  height: 48px;
  padding: 10px;
  border-radius: 8px;
  
}

p {
  font-size: 20px;
  font-weight: semibold;
  color: rgb(67 76 94);
  text-align: center;
}

a {
  color: rgb(76 86 106);
  font-weight: bold;
}
