body {
  background: rgb(46 52 64);
}

p {
  font-family: "open-sans", sans-serif;
  font-size: 20px;
  font-weight: semibold;
  text-align: center;
  color: rgb(229 233 240);
}

a {
  color: rgb(216 222 233);
}
